
<%= form_for(:user, :url => user_session_path) do |f| %>
  <div id='password-credentials'>
    
      <%= f.label(:email, 'mail') %>
      <%= f.text_field('email', :class => 'title') %>
      <%= f.label :password, 'Password' %>
      <%= f.password_field 'password', :class => 'title' %>    
  </div>
  
    <label>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t('remember_me') %>
    </label>
  

  <p><%= submit_tag t("log_in"), :class => 'button primary'%></p>
<% end %>
